a
  color: $base_font_color
  text-decoration: none

blockquote
  +prefixer(hyphens, auto, webkit moz ms spec)
  line-height: $single_line_height
  margin: $base_font_size $tab_width
  text-align: justify

b, strong
  font-weight: $bold_font_weight

i, em
  font-style: italic

q
  quotes: "\201C" "\201D" "\2018" "\2019"

small
  font-size: $small_font_size

sub, sup
  font-size: $small_font_size
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  top: -.5em

sub
  bottom: -.25em

hr
  border: 0
  background-color: $base_font_color
  height: em(1px)
  width: 38.2%
  margin: $base_font_size 0

h1, h2, h3, h4, h5, h6
  line-height: $single_line_height

h1
  margin: $base_font_size 0
  text-align: left

h2, h3, h4, h5, h6
  margin: ($base_font_size * 3) 0 ($base_font_size * 2) 0
