#content

  hr
    height: 0
    margin: ($base_font_size * 3) 0
    width: 100%
    &:after
      color: $base_font_color
      content: ". . ."
      display: block
      font-size: $base_font_size * 2
      font-weight: $bold_font_weight
      position: relative
      text-align: center
      top: $base_font_size * -2

  p
    +prefixer(hyphens, auto, webkit moz ms spec)
    line-height: $normal_line_height
    margin: 0
    text-align: justify
    text-indent: $tab_width

  #preamble > div:first-child > div:first-child p
    line-height: $single_line_height
    margin: ($base_font_size * 3) 0
    text-align: right
    text-indent: 0

  #_bibliography + div p
    line-height: $single_line_height
    margin-top: $base_font_size
    text-align: left
    text-indent: 0
