@import url(http://fonts.googleapis.com/css?family=Lato:300,400,300italic|EB+Garamond:400,400i,700)

html, body
  +prefixer(hyphens, auto, webkit moz ms spec)
  font-family: $base_font_family
  font-family: 'EB Garamond'
  line-height: $normal_line_height
  text-align: justify

h1, h2, h3, h4, h5, h6
  font:
    family: $heading_font_family
    weight: $heading_font_weight
  page-break-after: avoid

h1
  font-weight: $title_font_weight
