#author, #revdate, #revremark
  display: block
  font:
    family: $heading_font_family
    weight: $heading_font_weight
  margin-top: ($base_font_size * 1)

#author
  margin-top: 0

@media print
  #header h1, #author, #revdate, #revremark
    text-align: center

  #revdate
    bottom: 0
    left: 0
    position: absolute
    right: 0
